<div class="page">
  <div class="page__body">
    <h1>Graphs from {{rdf-compactIri (page-resource)}}</h1>
    <semantic-table 
      query='SELECT * WHERE { 
              <{{page-resource}}> <https://ontologies.metaphacts.com/graph-handle/sourceGraph> ?source_graph .
              ?source_graph rdfs:label ?graph_label;
                <https://ontologies.metaphacts.com/graph-handle/source> ?source .
              optional{SERVICE Repository:semopenalex { ?source foaf:name ?source_label }}
                
            }'
      column-configuration='[{"variableName": "source_graph","displayName": "Source Graph"},
                              {"variableName": "source","displayName": "Source Data","cellTemplate": "{{> ::graphOver}}"}]'
      options='{

              }'>
    </semantic-table>
  </div>
</div>

<template-fragment id='graphOver'>
  Co-Author Network for <semantic-link iri='{{cellValue.value}}' target='_blank'>{{source_label.value}}</semantic-link>
</template-fragment>